{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/studentDetail.css' %}">
    <title>CMS</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="p-0 m-0 border-0 bd-example ">

    <!-- Example Code -->


    <nav class="navbar   navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'Image/nav-icon.png' %}" alt="Bootstrap" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End Example Code -->
    <div class="header">
        <div class="p-img">
            <div class="img">
                <img src="media/{{userinfo.0.image}}" alt="Profile Image">
            </div>
        </div>
        <div class="p-data">
            <div class="input-card">
                <div>
                    <h1>Details</h1>
                </div>
                <div class="input-card-label"><label for="Standard">Email</label></div>
                <div class="input-card-i">
                    <div class="input-card-inline">
                        <label class="label " style="width:15%"> Email :</label>
                        <label class="labelData" style="width:85%; text-transform: unset;"> {{user.0.0}} </label>
                    </div>
                </div>
                <div class="input-card-label"><label for="Standard">Name</label></div>
                <div class="input-card-i">
                    <div class="input-card-inline">
                        <label class="label">First Name :</label>
                        <label class="labelData"> {{user.0.1}} </label>
                        <label class="label">Last Name :</label>
                        <label class="labelData"> {{user.0.2}}</label>
                    </div>
                </div>
                
            </div>
                <div class="input-card">
                    <div >
                        <h1>Address</h1>
                    </div >
                    <div class="input-card-label"><label for="Permanent">Permanent</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> House no :</label>
                            <label class="labelData">{{userinfo.0.p_house_no}}</label>
                            <label class="label"> Socity :</label>
                            <label class="labelData">{{userinfo.0.p_socity}}</label>
                        </div>
                        <div class="input-card-inline">
                            <label class="label"> Landmark :</label>
                            <label class="labelData">{{userinfo.0.p_landmark}}</label>
                            <label class="label"> District :</label>
                            <label class="labelData">{{userinfo.0.p_district}}</label>
                        </div>
                        <div class="input-card-inline">
                            <label class="label"> State :</label>
                            <label class="labelData">{{userinfo.0.p_state}}</label>
                            <label class="label"> Pincode :</label>
                            <label class="labelData">{{userinfo.0.p_pincode}}</label>
                        </div>
                    </div>
                    <div class="input-card-label"><label for="Temporary">Temporary</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> House no :</label>
                            <label class="labelData">{{userinfo.0.t_house_no}}</label>
                            <label class="label"> Socity :</label>
                            <label class="labelData">{{userinfo.0.t_socity}}</label>
                        </div>
                        <div class="input-card-inline">
                            <label class="label"> Landmark :</label>
                            <label class="labelData">{{userinfo.0.t_landmark}}</label>
                            <label class="label"> District :</label>
                            <label class="labelData">{{userinfo.0.t_district}}</label>
                        </div>
                        <div class="input-card-inline">
                            <label class="label"> State :</label>
                            <label class="labelData">{{userinfo.0.t_state}}</label>
                            <label class="label"> Pincode :</label>
                            <label class="labelData">{{userinfo.0.t_pincode}}</label>
                        </div>
                    </div>
                </div>
                <div class="input-card">
                    <div>
                        <h1>Personal Details</h1>
                    </div>
                    <div class="input-card-label"><label for="contact-no">Contact Number</label></div>
                   
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> Personal :</label>
                            <label class="labelData">{{userinfo.0.personal_no}}</label>
                            <label class="label"> Guardian :</label>
                            <label class="labelData">{{userinfo.0.guardian_no}}</label>
                        </div>
                    </div>
                    <div class="input-card-label"><label for="dob">Others</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> DOB :</label>
                            <label class="labelData" >{{userinfo.0.dob}}</label>
                            <label class="label"> Gender :</label>
                            <label class="labelData" >{{userinfo.0.gender}}</label>
                        </div>                        
                    </div>
                    <div class="input-card-label"><label for="parent-detail">Parent's Detail</label></div>
                    <div class="input-card-i">
                        <div class="input-card-label"><label for="father">Father :</label></div>
                        <div class="input-card-inline">
                            <label class="label"> First Name :</label>
                            <label class="labelData">{{userinfo.0.father_f_name}}</label>
                            <label class="label"> Last Name</label>
                            <label class="labelData">{{userinfo.0.father_l_name}}</label>
                        </div>
                        <div class="input-card-label"><label for="mother">Mother :</label></div>
                        <div class="input-card-inline">
                            <label class="label"> First Name :</label>
                            <label class="labelData">{{userinfo.0.mother_f_name}}</label>
                            <label class="label"> Last Name</label>
                            <label class="labelData">{{userinfo.0.mother_l_name}}</label>
                        </div>
                    </div>
                    
                </div>
                <div class="input-card">
                    <div>
                        <h1>Course Details</h1>
                    </div>
                    <div class="input-card-label"><label for="Standard">Standard</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> Department :</label>
                            <label class="labelData">{{userinfo.0.dept}}</label>
                            <label class="label">Year :</label>
                            <label class="labelData">{{userinfo.0.sem}}</label>
                        </div>
                    </div>
                    <div class="input-card-label"><label for="Standard">Roll No</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label"> Institute :</label>
                            <label class="labelData">{{userinfo.0.institute_roll}}</label>
                            <label class="label"> University :</label>
                            <label class="labelData">{{userinfo.0.university_roll}}</label>
                        </div>
                    </div>
                </div>
                <div class="input-card">
                    <div>
                        <h1>Account Information</h1>
                    </div>
                    <div class="input-card-label"><label for="Standard">Summary</label></div>
                    <div class="input-card-i">
                        <div class="input-card-inline">
                            <label class="label">Total Fee :</label>
                            <label class="labelData">{{fees.0.0}}</label>
                            <label class="label"> Paid :</label>
                            <label class="labelData">{{fees.0.1}}</label>
                        </div>
                    </div>
                </div>
                <div class="input-card">
                    <div>
                        <h1>Library Information</h1>
                    </div>
                    <div class="input-card-label"><label for="Standard">Standard</label></div>
                    <div class="input-card-i">
                        <input type="number" placeholder="Year" required>
                        <input type="number" placeholder="Semester" required>
                    </div>
                    <div class="input-card-label"><label for="Standard">Roll No</label></div>
                    <div class="input-card-i">
                        <input type="number" placeholder="Institute" required>
                        <input type="number" placeholder="University" required>
                    </div>
                </div>
        </div>

    </div>
</body>

</html>